{
  "log": {
    "_recordingName": "MapQuest Geocoder Provider/receives correct geocoding results using POST and open domain",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "7e078b8475093693faf7f1bf13216ac4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/plain;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain;charset=UTF-8",
            "params": [],
            "text": "{\"location\":\"1600 Pennsylvania Ave, Washington, DC\",\"options\":{\"maxResults\":\"5\"}}"
          },
          "queryString": [],
          "url": "https://open.mapquestapi.com/geocoding/v1/address"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1816,
            "text": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"\\u00A9 2020 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"\\u00A9 2020 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":5,\"thumbMaps\":true,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"street\":\"1600 Pennsylvania Ave, Washington, DC\"},\"locations\":[{\"street\":\"\",\"adminArea6\":\"Penn Quarter\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Washington\",\"adminArea5Type\":\"City\",\"adminArea4\":\"\",\"adminArea4Type\":\"County\",\"adminArea3\":\"District of Columbia\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"20006\",\"geocodeQualityCode\":\"B1XAX\",\"geocodeQuality\":\"STREET\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":38.895854,\"lng\":-77.030713},\"displayLatLng\":{\"lat\":38.895854,\"lng\":-77.030713},\"mapUrl\":\"http://open.mapquestapi.com/staticmap/v5/map?type=map&size=225,160&locations=38.8958536,-77.0307129|marker-sm-50318A-1&scalebar=true&zoom=15&rand=942576975\"},{\"street\":\"Pennsylvania Avenue\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Prince George's County\",\"adminArea4Type\":\"County\",\"adminArea3\":\"District of Columbia\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"pos[...]
