{
  "log": {
    "_recordingName": "Mapbox Geocoder Provider/receives error when the API key is bad",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "30081e229aee3d9a6201d55010f0f3ad",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "5"
            }
          ],
          "url": "https://api.mapbox.com/geocoding/v5/mapbox.places/1600%20Pennsylvania%20Ave,%20Washington,%20DC.json?limit=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 135,
            "text": "[\"1f8b0800000000000003\",\"ab56ca4d2d2e4e4c4f55b252f2cb2f51702c2dc9c82fcaac4a4d51d055f0cc2b4bccc94c5108c9cf4ecd53aa050000841cd42c000000\"]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2c-d41c8400\""
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 77,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
