{
  "log": {
    "_recordingName": "Bing Geocoder Provider/receives error when the API key is bad",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "5786db4fc459c37d9aa1330f3b69193c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "maxRes",
              "value": "5"
            },
            {
              "name": "incl",
              "value": "ciso2"
            }
          ],
          "url": "https://dev.virtualearth.net/REST/v1/Locations/1600%20Pennsylvania%20Ave,%20Washington,%20DC?maxRes=5&incl=ciso2"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 681,
            "text": "{\"authenticationResultCode\":\"InvalidCredentials\",\"brandLogoUri\":\"http:\\/\\/dev.virtualearth.net\\/Branding\\/logo_powered_by.png\",\"copyright\":\"Copyright © 2020 Microsoft and its suppliers. All rights reserved. This API cannot be accessed and the content and any results may not be used, reproduced or transmitted in any manner without express written permission from Microsoft Corporation.\",\"errorDetails\":[\"Access was denied. You may have entered your credentials incorrectly, or you might not have access to the requested resource or operation.\"],\"resourceSets\":[],\"statusCode\":401,\"statusDescription\":\"Unauthorized\",\"traceId\":\"b1d87489fca04848879a05015d540dc3|DU00000D67|0.0.0.1\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-bm-traceid",
              "value": "b1d87489fca04848879a05015d540dc3"
            },
            {
              "name": "x-bm-fe-elapsed",
              "value": "0"
            },
            {
              "name": "x-bm-srv",
              "value": "DU00000D67"
            },
            {
              "name": "x-ms-bm-ws-info",
              "value": "0"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 151,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
