{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "browser": true
  },
  "plugins": ["prettier"],
  "ignorePatterns": ["types/**/*.ts"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }]
  },
  "overrides": [
    {
      "files": ["spec/**/*.ts"],
      "rules": {
        "import/no-unresolved": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
