{
  "log": {
    "_recordingName": "Chain Geocoder Provider/receives correct geocoding results (first provider KO)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "78a91888b5016be96b3a58fdabda2662",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "geocode",
              "value": "1600 Pennsylvania Ave, Washington, DC"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "lang",
              "value": "en_US"
            },
            {
              "name": "results",
              "value": "5"
            }
          ],
          "url": "https://geocode-maps.yandex.ru/1.x?geocode=1600+Pennsylvania+Ave%2C+Washington%2C+DC&format=json&lang=en_US&results=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 62,
            "text": "{\"statusCode\":403,\"error\":\"Forbidden\",\"message\":\"Invalid key\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3e-cw06Pdy6OiytV8KcUexnEAwoCRw\""
            },
            {
              "name": "x-qloud-router",
              "value": "man2-7275f28abf80.qloud-c.yandex.net"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 236,
      },
      {
        "_id": "2b0f5eefe9e3c5b68007e213e96cddaa",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "1600 Pennsylvania Ave, Washington, DC"
            },
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "format",
              "value": "jsonv2"
            },
            {
              "name": "addressdetails",
              "value": "1"
            },
            {
              "name": "accept-language",
              "value": "en_US"
            }
          ],
          "url": "https://nominatim.openstreetmap.org/search?q=1600+Pennsylvania+Ave%2C+Washington%2C+DC&limit=5&format=jsonv2&addressdetails=1&accept-language=en_US"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1385,
            "text": "[{\"place_id\":176517326,\"licence\":\"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright\",\"osm_type\":\"way\",\"osm_id\":397325778,\"boundingbox\":[\"38.8633822\",\"38.8637409\",\"-76.9467576\",\"-76.945632\"],\"lat\":\"38.8636383\",\"lon\":\"-76.9463651\",\"display_name\":\"Pennsylvania Avenue, Dillon Park, Coral Hills, Prince George's County, Washington, D.C., 20746-8001, United States of America\",\"place_rank\":26,\"category\":\"highway\",\"type\":\"trunk\",\"importance\":0.41000000000000003,\"address\":{\"road\":\"Pennsylvania Avenue\",\"hamlet\":\"Dillon Park\",\"locality\":\"Coral Hills\",\"county\":\"Prince George's County\",\"state\":\"Washington, D.C.\",\"postcode\":\"20746-8001\",\"country\":\"United States of America\",\"country_code\":\"us\"}},{\"place_id\":205327805,\"licence\":\"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright\",\"osm_type\":\"way\",\"osm_id\":564931814,\"boundingbox\":[\"38.8957842\",\"38.895924\",\"-77.0309688\",\"-77.0304609\"],\"lat\":\"38.8958536\",\"lon\":\"-77.0307129\",\"display_name\":\"Pennsylvania Avenue, Penn Quarter, Washington D.C., Washington, Washington, D.C., 20045, United States of America\",\"place_rank\":27,\"category\":\"highway\",\"type\":\"path\",\"importance\":0.385,\"address\":{\"road\":\"Pennsylvania Avenue\",\"neighbourhood\":\"Penn Quarter\",\"city\":\"Washington D.C.\",\"county\":\"Washington\",\"state\":\"Washington, D.C.\",\"postcode\":\"20045\",\"country\":\"United States of America\",\"country_code\":\"us\"}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 243,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
