{
  "log": {
    "_recordingName": "OpenCage Geocoder Provider/receives error when the IP address is rejected",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "5926205db8a399d6edc02640d8616cf2",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "1600 Pennsylvania Ave, Washington, DC"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ],
          "url": "https://api.opencagedata.com/geocode/v1/json?q=1600+Pennsylvania+Ave%2C+Washington%2C+DC&limit=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 127,
            "text": "{\n   \"results\" : [],\n   \"status\" : {\n      \"code\" : 403,\n      \"message\" : \"IP address rejected\"\n   },\n   \"total_results\" : 0\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 159,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
