{
  "log": {
    "_recordingName": "Yandex Geocoder Provider/receives error when the API key is bad",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "dd683a194fccad3abe8af22c9534149d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "geocode",
              "value": "1600 Pennsylvania Ave, Washington, DC"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "results",
              "value": "5"
            }
          ],
          "url": "https://geocode-maps.yandex.ru/1.x?geocode=1600+Pennsylvania+Ave%2C+Washington%2C+DC&format=json&results=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 62,
            "text": "{\"statusCode\":403,\"error\":\"Forbidden\",\"message\":\"Invalid key\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3e-cw06Pdy6OiytV8KcUexnEAwoCRw\""
            },
            {
              "name": "x-qloud-router",
              "value": "man2-7275f28abf80.qloud-c.yandex.net"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 279,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
