{
  "log": {
    "_recordingName": "MapQuest Geocoder Provider/receives error when the API key is bad",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "a9df5ae9db36156ea719a0bc70a91cbd",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "location",
              "value": "1600 Pennsylvania Ave, Washington, DC"
            },
            {
              "name": "maxResults",
              "value": "5"
            }
          ],
          "url": "https://www.mapquestapi.com/geocoding/v1/address?location=1600+Pennsylvania+Ave%2C+Washington%2C+DC&maxResults=5"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 50,
            "text": "The AppKey submitted with this request is invalid."
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 367,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
