{
  "log": {
    "_recordingName": "MapQuest Geocoder Provider/receives correct geodecoding results",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "b8e3b1d9aa55c0dd7339774f6f9af07d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "location",
              "value": "48.8631507,2.388911"
            }
          ],
          "url": "https://www.mapquestapi.com/geocoding/v1/reverse?location=48.8631507%2C2.388911"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1049,
            "text": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"\\u00A9 2020 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"\\u00A9 2020 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":1,\"thumbMaps\":true,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"latLng\":{\"lat\":48.8631507,\"lng\":2.388911}},\"locations\":[{\"street\":\"8 Avenue Gambetta\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Paris\",\"adminArea5Type\":\"City\",\"adminArea4\":\"\",\"adminArea4Type\":\"County\",\"adminArea3\":\"Ile-de-France\",\"adminArea3Type\":\"State\",\"adminArea1\":\"FR\",\"adminArea1Type\":\"Country\",\"postalCode\":\"75020\",\"geocodeQualityCode\":\"P1AAA\",\"geocodeQuality\":\"POINT\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"0\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":48.863116,\"lng\":2.38878},\"displayLatLng\":{\"lat\":48.863116,\"lng\":2.38878},\"mapUrl\":\"http://www.mapquestapi.com/staticmap/v5/map?type=map&size=225,160&locations=48.8631163,2.38878|marker-sm-50318A-1&scalebar=true&zoom=15&rand=1980906355\"}]}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "geocodetransactioncount",
              "value": "0"
            },
            {
              "name": "last-modified",
              "value": "Fri, 04 Sep 2020 15:04:40 GMT"
            },
            {
              "name": "reversegeocodetransactioncount",
              "value": "1"
            },
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "transactionweight",
              "value": "1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 365,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
