{
  "log": {
    "_recordingName": "OpenStreetMap / Nominatim Geocoder Provider/receives correct geodecoding results",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "d20abddf41db9792facbe92762e23fda",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "lat",
              "value": "48.8631507"
            },
            {
              "name": "lon",
              "value": "2.388911"
            },
            {
              "name": "zoom",
              "value": "18"
            },
            {
              "name": "format",
              "value": "jsonv2"
            },
            {
              "name": "addressdetails",
              "value": "1"
            }
          ],
          "url": "https://nominatim.openstreetmap.org/reverse?lat=48.8631507&lon=2.388911&zoom=18&format=jsonv2&addressdetails=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 679,
            "text": "{\"place_id\":161274479,\"licence\":\"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright\",\"osm_type\":\"way\",\"osm_id\":322777831,\"lat\":\"48.863744499999996\",\"lon\":\"2.3911562136123106\",\"place_rank\":26,\"category\":\"highway\",\"type\":\"pedestrian\",\"importance\":0.09999999999999998,\"addresstype\":\"road\",\"name\":null,\"display_name\":\"Quartier du Père-Lachaise, Paris, Île-de-France, France métropolitaine, 75020, France\",\"address\":{\"suburb\":\"Quartier du Père-Lachaise\",\"city\":\"Paris\",\"municipality\":\"Paris\",\"county\":\"Paris\",\"state\":\"Île-de-France\",\"country\":\"France\",\"postcode\":\"75020\",\"country_code\":\"fr\"},\"boundingbox\":[\"48.8625929\",\"48.8648832\",\"2.3877078\",\"2.3956964\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 159,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
