{
  "log": {
    "_recordingName": "MapQuest Geocoder Provider/receives error when parameters are missing",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "e5ca2255cb904c7b4fba9d6b7d4f5ebd",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "maxResults",
              "value": "5"
            }
          ],
          "url": "https://www.mapquestapi.com/geocoding/v1/address?maxResults=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 369,
            "text": "{\"info\":{\"statuscode\":400,\"copyright\":{\"text\":\"\\u00A9 2020 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"\\u00A9 2020 MapQuest, Inc.\"},\"messages\":[\"Illegal argument from request: Insufficient info for location\"]},\"options\":{\"maxResults\":-1,\"thumbMaps\":true,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{},\"locations\":[]}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "geocodetransactioncount",
              "value": "0"
            },
            {
              "name": "last-modified",
              "value": "Fri, 04 Sep 2020 15:04:41 GMT"
            },
            {
              "name": "reversegeocodetransactioncount",
              "value": "0"
            },
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "transactionweight",
              "value": "0.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 367,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
