{
  "log": {
    "_recordingName": "MapQuest Geocoder Provider/receives correct geocoding results",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "a9df5ae9db36156ea719a0bc70a91cbd",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "location",
              "value": "1600 Pennsylvania Ave, Washington, DC"
            },
            {
              "name": "maxResults",
              "value": "5"
            }
          ],
          "url": "https://www.mapquestapi.com/geocoding/v1/address?location=1600+Pennsylvania+Ave%2C+Washington%2C+DC&maxResults=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 1113,
            "text": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"\\u00A9 2020 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"\\u00A9 2020 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":5,\"thumbMaps\":true,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"1600 Pennsylvania Ave, Washington, DC\"},\"locations\":[{\"street\":\"1600 Pennsylvania Ave\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Washington\",\"adminArea5Type\":\"City\",\"adminArea4\":\"District Of Columbia\",\"adminArea4Type\":\"County\",\"adminArea3\":\"DC\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"\",\"geocodeQualityCode\":\"P1AAA\",\"geocodeQuality\":\"POINT\",\"dragPoint\":false,\"sideOfStreet\":\"N\",\"linkId\":\"58f8ddbf-64f2-4ea2-b8f9-78b5364924e9\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":38.895206,\"lng\":-77.036515},\"displayLatLng\":{\"lat\":38.895206,\"lng\":-77.036515},\"mapUrl\":\"http://www.mapquestapi.com/staticmap/v5/map?type=map&size=225,160&locations=38.895206,-77.036515|marker-sm-50318A-1&scalebar=true&zoom=15&rand=1195279033\"}]}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "geocodetransactioncount",
              "value": "1"
            },
            {
              "name": "last-modified",
              "value": "Fri, 04 Sep 2020 15:04:40 GMT"
            },
            {
              "name": "reversegeocodetransactioncount",
              "value": "0"
            },
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "transactionweight",
              "value": "1.0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 424,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
