{
  "log": {
    "_recordingName": "OpenStreetMap / Nominatim Geocoder Provider/receives correct geocoding results",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "0959cf92632b07046bedde27c0d0e8b6",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "1600 Pennsylvania Ave, Washington, DC"
            },
            {
              "name": "limit",
              "value": "5"
            },
            {
              "name": "format",
              "value": "jsonv2"
            },
            {
              "name": "addressdetails",
              "value": "1"
            }
          ],
          "url": "https://nominatim.openstreetmap.org/search?q=1600+Pennsylvania+Ave%2C+Washington%2C+DC&limit=5&format=jsonv2&addressdetails=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1363,
            "text": "[{\"place_id\":205327805,\"licence\":\"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright\",\"osm_type\":\"way\",\"osm_id\":564931814,\"boundingbox\":[\"38.8957842\",\"38.895924\",\"-77.0309688\",\"-77.0304609\"],\"lat\":\"38.8958536\",\"lon\":\"-77.0307129\",\"display_name\":\"Pennsylvania Avenue, Penn Quarter, Washington, District of Columbia, 20045, United States of America\",\"place_rank\":27,\"category\":\"highway\",\"type\":\"path\",\"importance\":0.385,\"address\":{\"road\":\"Pennsylvania Avenue\",\"neighbourhood\":\"Penn Quarter\",\"city\":\"Washington\",\"county\":\"Washington\",\"state\":\"District of Columbia\",\"postcode\":\"20045\",\"country\":\"United States of America\",\"country_code\":\"us\"}},{\"place_id\":176517326,\"licence\":\"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright\",\"osm_type\":\"way\",\"osm_id\":397325778,\"boundingbox\":[\"38.8633822\",\"38.8637409\",\"-76.9467576\",\"-76.945632\"],\"lat\":\"38.8636383\",\"lon\":\"-76.9463651\",\"display_name\":\"Pennsylvania Avenue, Dillon Park, Coral Hills, Prince George's County, District of Columbia, 20746-8001, United States of America\",\"place_rank\":26,\"category\":\"highway\",\"type\":\"trunk\",\"importance\":0.3,\"address\":{\"road\":\"Pennsylvania Avenue\",\"hamlet\":\"Dillon Park\",\"locality\":\"Coral Hills\",\"county\":\"Prince George's County\",\"state\":\"District of Columbia\",\"postcode\":\"20746-8001\",\"country\":\"United States of America\",\"country_code\":\"us\"}}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 228,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
