{
  "log": {
    "_recordingName": "Chain Geocoder Provider/receives correct geodecoding results (first provider KO)",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "35af77943d19f4c062f0b16b5a319928",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "geocode",
              "value": "2.388911,48.8631507"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "lang",
              "value": "en_US"
            }
          ],
          "url": "https://geocode-maps.yandex.ru/1.x?geocode=2.388911%2C48.8631507&format=json&lang=en_US"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 62,
            "text": "{\"statusCode\":403,\"error\":\"Forbidden\",\"message\":\"Invalid key\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3e-cw06Pdy6OiytV8KcUexnEAwoCRw\""
            },
            {
              "name": "x-qloud-router",
              "value": "man4-a74d0ae6f388.qloud-c.yandex.net"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 292,
      },
      {
        "_id": "42d81ccdbafcdf460e8c2ea8919b8659",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "lat",
              "value": "48.8631507"
            },
            {
              "name": "lon",
              "value": "2.388911"
            },
            {
              "name": "zoom",
              "value": "18"
            },
            {
              "name": "format",
              "value": "jsonv2"
            },
            {
              "name": "addressdetails",
              "value": "1"
            },
            {
              "name": "accept-language",
              "value": "en_US"
            }
          ],
          "url": "https://nominatim.openstreetmap.org/reverse?lat=48.8631507&lon=2.388911&zoom=18&format=jsonv2&addressdetails=1&accept-language=en_US"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 674,
            "text": "{\"place_id\":161274479,\"licence\":\"Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright\",\"osm_type\":\"way\",\"osm_id\":322777831,\"lat\":\"48.863744499999996\",\"lon\":\"2.3911562136123106\",\"place_rank\":26,\"category\":\"highway\",\"type\":\"pedestrian\",\"importance\":0.09999999999999998,\"addresstype\":\"road\",\"name\":null,\"display_name\":\"Quartier du Père-Lachaise, Paris, Ile-de-France, Metropolitan France, 75020, France\",\"address\":{\"suburb\":\"Quartier du Père-Lachaise\",\"city\":\"Paris\",\"municipality\":\"Paris\",\"county\":\"Paris\",\"state\":\"Ile-de-France\",\"country\":\"France\",\"postcode\":\"75020\",\"country_code\":\"fr\"},\"boundingbox\":[\"48.8625929\",\"48.8648832\",\"2.3877078\",\"2.3956964\"]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 168,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
