{
  "log": {
    "_recordingName": "GeoPlugin Geocoder Provider/receives correct IP geolocation results",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "05202cf8a6f2058fa16406cb3e37e3a4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "ip",
              "value": "190.226.155.134"
            }
          ],
          "url": "http://www.geoplugin.net/json.gp?ip=190.226.155.134"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 974,
            "text": "{\n  \"geoplugin_request\":\"190.226.155.134\",\n  \"geoplugin_status\":200,\n  \"geoplugin_delay\":\"1ms\",\n  \"geoplugin_credit\":\"Some of the returned data includes GeoLite data created by MaxMind, available from <a href='http:\\/\\/www.maxmind.com'>http:\\/\\/www.maxmind.com<\\/a>.\",\n  \"geoplugin_city\":\"Colon\",\n  \"geoplugin_region\":\"Entre Rios\",\n  \"geoplugin_regionCode\":\"E\",\n  \"geoplugin_regionName\":\"Entre Rios\",\n  \"geoplugin_areaCode\":\"\",\n  \"geoplugin_dmaCode\":\"\",\n  \"geoplugin_countryCode\":\"AR\",\n  \"geoplugin_countryName\":\"Argentina\",\n  \"geoplugin_inEU\":0,\n  \"geoplugin_euVATrate\":false,\n  \"geoplugin_continentCode\":\"SA\",\n  \"geoplugin_continentName\":\"South America\",\n  \"geoplugin_latitude\":\"-32.2167\",\n  \"geoplugin_longitude\":\"-58.1333\",\n  \"geoplugin_locationAccuracyRadius\":\"500\",\n  \"geoplugin_timezone\":\"America\\/Argentina\\/Cordoba\",\n  \"geoplugin_currencyCode\":\"ARS\",\n  \"geoplugin_currencySymbol\":\"$\",\n  \"geoplugin_currencySymbol_UTF8\":\"$\",\n  \"geoplugin_currencyConverter\":73.1556\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 58,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
