name: Continuous Integration

on:
  - pull_request
  - push

jobs:
  ci:
    name: Continuous integration
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v2-beta
        with:
          node-version: "14"
      - name: Install dependencies
        run: npm install
      - name: Check build
        run: npm run build
      - name: Check commit messages
        uses: wagoid/commitlint-github-action@v2
      - name: Check coding standards
        run: npm run lint
      - name: Run tests
        run: npm test
