{
  "log": {
    "_recordingName": "GeoPlugin Geocoder Provider/receives error when IP is not found",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "75bbd00961b4fee62d52c7fec2a92956",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "ip",
              "value": "192.168.1.10"
            }
          ],
          "url": "http://www.geoplugin.net/json.gp?ip=192.168.1.10"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 894,
            "text": "{\n  \"geoplugin_request\":\"192.168.1.10\",\n  \"geoplugin_status\":404,\n  \"geoplugin_delay\":\"2ms\",\n  \"geoplugin_credit\":\"Some of the returned data includes GeoLite data created by MaxMind, available from <a href='http:\\/\\/www.maxmind.com'>http:\\/\\/www.maxmind.com<\\/a>.\",\n  \"geoplugin_city\":null,\n  \"geoplugin_region\":null,\n  \"geoplugin_regionCode\":null,\n  \"geoplugin_regionName\":null,\n  \"geoplugin_areaCode\":null,\n  \"geoplugin_dmaCode\":null,\n  \"geoplugin_countryCode\":null,\n  \"geoplugin_countryName\":null,\n  \"geoplugin_inEU\":0,\n  \"geoplugin_euVATrate\":false,\n  \"geoplugin_continentCode\":null,\n  \"geoplugin_continentName\":null,\n  \"geoplugin_latitude\":null,\n  \"geoplugin_longitude\":null,\n  \"geoplugin_locationAccuracyRadius\":null,\n  \"geoplugin_timezone\":null,\n  \"geoplugin_currencyCode\":null,\n  \"geoplugin_currencySymbol\":null,\n  \"geoplugin_currencySymbol_UTF8\":\"\",\n  \"geoplugin_currencyConverter\":0\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 61,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
